@font-face {
  font-family: "TrueLies";
  src: url('../extras/TrueLies.ttf');
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: "TrueLies";
}
	
body{
	overflow: hidden;
	font-family: "TrueLies";
}
.principal{
	width: 100%;
	height: 100vh;
	background-image: url("../img/ZombieEscape.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

.map{
	width: 100%;
	height: 100vh;
	background-image: url("../img/mapMission.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

.info{
	width: 40%;
	height: 50%;
	background-color: black;
	opacity: 0.7;
	display: flex;
	justify-content: center;
  	align-items: center;
  	transform: translateY(20%);
}

.selectCharacter{
	width: 40%;
	height: 50%;
	background-color: black;
	opacity: 0.7;
	display: flex;
	justify-content: center;
  	align-items: center;
  	transform: translateY(20%);
}

.instructions{
	position:absolute;
	top:210px;
	z-index: 1;
}

h2{
	margin-top: 5vh;
	font-size: 3em;
	color: white;
	margin-bottom: 80vh;
}
#gotIt{
	transform: translateY(-50%);
	color:white;
  	padding:10px 20px;
  	font-size:2em;
  	border:4px #910808 solid;
  	border-radius: 15px;
  	background-color:rgba(198,10,10,0.5);
  	cursor: pointer;
}

.none{
	display: none;
}
.select{
	width: 250px;
}
.credits{
	display: initial;
	z-index: 1;
	transform: translateY(-60%);
	color:white;
  	padding:10px 20px;
  	font-size:2em;
  	border:4px #C60A0A solid;
  	border-radius: 15px;
  	background-color:#C60A0A;
  	cursor: pointer;
}

.blackCredits{
	background-image: url("../img/credits.jpg");
}

.pulse{
	animation: pulse 4s linear infinite;
}

@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 rgba(255,109,74,.7),
		0 0 0 0 rgba(255,109,74,.7);	
	}
	40%{
		box-shadow: 0 0 0 30px rgba(255,109,74,0),
		0 0 0 0 rgba(255,109,74,.7);	
	}
	80%{
		box-shadow: 0 0 0 30px rgba(255,109,74,0),
		0 0 0 15px rgba(255,109,74,0);	
	}
	100%{
		box-shadow: 0 0 0 0 rgba(255,109,74,0),
		0 0 0 15px rgba(255,109,74,0);	
	}
}

#menu{
	display: none;
	flex-direction: column;
	margin-right: 90vh;
	margin-top: 30vh;

}

#menu button{
	cursor: pointer;
	color:white;
  	padding:10px 40px;
  	font-size:2em;
  	margin: 20px;
  	background-color: rgba(0,0,0,0.5);
  	border-radius: 15px;
}

#menu button:hover{
	background-color:rgba(198,10,10,0.8);
}

.backButton{
	cursor: pointer;
	position: absolute;
	top:40px;
	left: 40px;
	padding:10px 40px;
	font-size: 1.5em;
	border-radius: 15px;
	background-color:rgba(255,255,255,0.3);
}

.backButton:hover{
	background-color:rgba(198,10,10,0.8);
}

#zero{
	position: absolute;
	top:270px;
	left: 240px;
}

#one{
	position: absolute;
	top:280px;
	left: 420px;
}
#two{
	position: absolute;
	top:373px;
	left: 580px;
}
#three{
	position: absolute;
	top:373px;
	left: 765px;
}

#four{
	position: absolute;
	top:225px;
	left: 905px;
}
#tache{
	position: absolute;
	top:275px;
	left: 1005px;
}
.point{
	animation: points 2s linear infinite;
}

@keyframes points{
	50%{
		top:260px;
	}
}


.alert {
	position: absolute;
	top:275px;
	left: 480px;
    padding: 20px;
    background-color: rgba(198,10,10,0.8);
    color: white;
    font-size: 1.5em;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

button:focus{
	outline:0;
}

#players{
	text-align: center;
	position: absolute;
	top: 5%;
}

#players button{
	cursor: pointer;
	color:white;
  	padding:10px 40px;
  	font-size:2em;
  	margin: 20px;
  	background-color: rgba(0,0,0,0.5);
  	border-radius: 15px;
  	width: 240px;
}
#players button:hover{
	background-color:rgba(198,10,10,0.8);
}

h5{
	font-size: 3em;
}


