@font-face {
  font-family: "TrueLies";
  src: url('../extras/TrueLies.ttf');
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: white;
}
button{
	font-family: "TrueLies";
	/*height: 50px;*/
}
body{
	background-color: black;
	overflow: hidden;
	font-family: "TrueLies";
}

section{
	display: flex;
	justify-content: center;
  	align-items: center;
  	margin-top: 10vh;
  	height: 80vh;
  	flex-direction: column;
}
#menuPlayer{
	position: absolute;
	top:27px;
	left:83px;
}

.button{
	color:white;
  	padding:10px 25px;
  	font-size:2em;
  	border:4px #910808 solid;
  	border-radius: 15px 15px 0 0;
  	background-color:rgba(198,10,10,0.5);
  	cursor: pointer;
  	border-bottom: none;

}
.button:hover{
	background-color:rgba(198,10,10,0.8);
}

button:focus{
	outline:0;
}
.none{
	display: none;
}
.instructions{
	position:absolute;
	top:170px;
	left: 40%;
	z-index: 1;
}
#gotIt{
	position: absolute;
	top:60%;
	left: 45%;
	color:white;
  	padding:10px 20px;
  	font-size:2em;
  	border:4px #910808 solid;
  	border-radius: 15px;
  	background-color:rgba(198,10,10,0.5);
  	cursor: pointer;
  	z-index: 1;
}
.info{
	position: absolute;
	top:15%;
	left: 30%;
	width: 40%;
	height: 50%;
	background-color: black;
	opacity: 0.7;
	display: flex;
	justify-content: center;
  	align-items: center;
  	transform: translateY(20%);
}


/*MOBILE*/

#mobile{
	position: absolute;
	width: 30%;
	height: 30%;
	top:40%;
	left: 65%;
}

.btnMobile{
	width: 30%;
	height: 30%;
}

#upArrow{
	position: absolute;
	top:10%;
	left: 20%;
}

#leftArrow{
	position: absolute;
	top:50%;
	left: 1%;
}

#rigthArrow{
	position: absolute;
	top:50%;
	right: -5%;
}


#areU{
	text-align: center;
	position: absolute;
	top:30%;
	left: 40%;
	z-index: 1;
}
.buttonQuit{
	cursor: pointer;
	color:white;
  	padding:10px 40px;
  	font-size:2em;
  	margin: 20px;
  	background-color: rgba(0,0,0,0.5);
  	border-radius: 15px;
}
.buttonQuit:hover{
	background-color:rgba(198,10,10,0.8);
}


#videoGameOver{
	position: absolute;
	top: 0%;

}
#title{
	position: absolute;
	top: 10%;
	left: 30%;
	font-size: 6em;
}

.buttonGameOver{
	position: absolute;
    top:400px;
    left: 610px;
    color:white;
    padding:10px 20px;
    font-size:2em;
    border:4px #910808 solid;
    border-radius: 15px;
    background-color:rgba(198,10,10,0.5);
    cursor: pointer;
    font-family: TrueLies;
}
.buttonGameOver:hover{
    background-color:rgba(198,10,10,0.8);
}